@import '../Vars.scss';

$height-header: 70px;
$height-details: auto;
$height-footer: 35px;
$button-main-color: $button-main-color;

body {
  margin: 0;
}

.container__detail {
  font-family: $font-family;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: $height-header $height-details $height-footer;
  grid-template-columns: minmax(320px, 1fr);
  grid-gap: 5px;
  grid-template-areas:
    'header'
    'details'
    'footer';
}
